= form_for @course do |f|
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.label :start_date
    %br/
    = f.text_field :start_date
  %p
    = f.collection_select :category_id, @categories, :_id, :name
  %p
    = f.submit
